/* FONT ======================================= */
body {
	font-family: Karla-Regular;
	font-size: 16px;
	font-color: #2d2d2d;
}

h1 {
  color: #646464;
  font-family: Pacifico;
  font-size: 42px;
  font-weight: 100;
  line-height: 48px;
}


p {
	font-size: 18px;
}

/* ELEMENTS ======================================= */

header {
	margin-top: 24px;
	margin-bottom: none;
	text-align: center;
}

header h1 {
	color: #d0d0d0;
}

nav {
	background-color: #d81e05;
}

.unbound {
	margin: 0 auto;
	width: 1140px 80%;
}

.unbound-hero {
	max-width: 700px;
}

.unbound-content {
	max-width: 700px;
	padding: 12px;
}

.button {
	padding: 12px 24px;
	border: 1px dotted;
}

.button-primary{
	background-color: #ED0722;
	padding: 12px 24px;
	font-color: #FFF;
}
	

.button-secondary {
	color: #FFFFFF;
	border-color: #ED0722;
}

.keyline {
	border: 1px dotted blue;
}